In [172]:

OBSERVED_FILENAME = "/Users/hiancheong/Personal/grad/UMD/comp_ling/topics_evaluation/Observed Coherence 1_August 9, 2020_14.10.csv"
INTRUSION_FILENAME = "/Users/hiancheong/Personal/grad/UMD/comp_ling/topics_evaluation/Word Intrusion 1_August 9, 2020_14.09.csv"

In [236]:
import pandas as pd

observed_data = pd.read_csv(OBSERVED_FILENAME)
intrusion_data = pd.read_csv(INTRUSION_FILENAME)

coherence_valid_prolific_ids = [
    '5e5adda02ced422defcc7765',
    '5e735fe7adc9032b066de68f',
    #'5d220d43acb3e5001ae3907c',
    '560e5dc454221f001035e2f4',
    '5f2d64af3c1140000a161e4e',
    '5bb0a9556322c50001584f5d',
    '5e5a2b5b2bff5422919b9e94',
    '5deeafc8fa996902a730c901',
    #'5e67cfb2a3821007f17744c8',
    '5f0fb2ed850b231ad838b468'
]

maybe_bad_observed = [
    '5e67cfb2a3821007f17744c8',
    '5d220d43acb3e5001ae3907c'
]

intrusion_valid_prolific_ids = [
    '5f2f19dc87147c2fb8cc3e79',
    '5b9f7f9eaa0e0e0001573bd2',
    '5e36e9b2001ff86723fb8056',
    '5ebbf686e7b69402f1994176',
    '5d1ac31e451ca800011409f4',
    #'5d9de8e8996ad3001b904aa5',
    '5d12020e90265e00199ba8a9',
    '5e8a369966dc6606eb913bd0',
    #'5dee9a513d36b253f348a7bf',
    '5f236a1612ef1d11d1fe72d9'
]
maybe_bad_intrusion = [
    '5dee9a513d36b253f348a7bf',
    '5d9de8e8996ad3001b904aa5'
]

"""
FILTER OUT EVERYTHING NOT IN OUR LIST OF PROLIFIC IDS
PREVIOUS DATA WAS ONLY PILOT DATA BEFORE CHANGES
"""
observed_data = observed_data[observed_data["PROLIFIC_PID"].isin(coherence_valid_prolific_ids)]
intrusion_data = intrusion_data[intrusion_data["PROLIFIC_PID"].isin(intrusion_valid_prolific_ids)]

print(len(observed_data))
print(len(intrusion_data))

8
8

In [187]:
observed_data

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,covid_observed_12,covid_observed_13,covid_observed_14,covid_observed_15,covid_observed_16,covid_observed_17,covid_observed_18,covid_observed_19,covid_observed_20,PROLIFIC_PID
9,2020-08-04 15:51:09,2020-08-04 15:54:08,0,100,179,1,2020-08-04 15:54:09,R_pfpYe1FFmFsyUkF,anonymous,EN,...,3,2,1,2,3,3,3,2,1,5f0fb2ed850b231ad838b468
10,2020-08-04 15:50:29,2020-08-04 15:56:30,0,100,361,1,2020-08-04 15:56:30,R_3Dvb1TR8vm02GvS,anonymous,EN,...,3,2,3,3,3,3,2,3,2,5deeafc8fa996902a730c901
11,2020-08-04 15:51:11,2020-08-04 15:56:36,0,100,324,1,2020-08-04 15:56:37,R_1pQmoj6HUdVztJ1,anonymous,EN,...,2,2,3,3,3,2,3,1,2,5e67cfb2a3821007f17744c8
14,2020-08-09 12:51:33,2020-08-09 12:54:35,0,100,182,1,2020-08-09 12:54:35,R_3PyMk1qaCvtP4rw,anonymous,EN,...,2,1,2,2,3,2,2,2,1,560e5dc454221f001035e2f4
15,2020-08-09 12:50:29,2020-08-09 12:59:35,0,100,545,1,2020-08-09 12:59:35,R_1C8Dh2uTQTa8CUf,anonymous,EN,...,3,2,3,3,3,3,3,3,1,5e5adda02ced422defcc7765
16,2020-08-09 12:51:43,2020-08-09 12:59:38,0,100,475,1,2020-08-09 12:59:39,R_1dNCWWCHv4ZTac5,anonymous,EN,...,3,3,3,3,3,3,3,3,1,5f2d64af3c1140000a161e4e
17,2020-08-09 12:51:19,2020-08-09 13:02:07,0,100,647,1,2020-08-09 13:02:07,R_sjsnHDEGRHHIxEd,anonymous,EN,...,1,2,2,3,3,2,2,3,2,5e735fe7adc9032b066de68f
18,2020-08-09 12:51:35,2020-08-09 13:02:42,0,100,666,1,2020-08-09 13:02:42,R_3iD6qlmFolE7WXf,anonymous,EN,...,1,1,2,3,2,2,2,2,2,5d220d43acb3e5001ae3907c
20,2020-08-09 13:09:58,2020-08-09 13:17:41,0,100,463,1,2020-08-09 13:17:42,R_2xQnbn0bcgx3W7B,anonymous,EN,...,2,1,3,3,2,1,2,1,2,5bb0a9556322c50001584f5d
21,2020-08-09 13:17:46,2020-08-09 13:23:02,0,100,315,1,2020-08-09 13:23:02,R_1mOGcknf6WIserM,anonymous,EN,...,3,3,3,3,3,2,3,3,3,5e5a2b5b2bff5422919b9e94

In [188]:
intrusion_data.columns.values[11:21]

array(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10'],
      dtype=object)

In [189]:
intrusion_data["Q9"]

11    3
12    6
13    3
14    5
15    3
16    3
17    3
18    3
19    6
20    5
Name: Q9, dtype: object

In [190]:
intrusion_data

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,PROLIFIC_PID,Create New Field or Choose From Dropdown...
11,2020-08-04 15:49:36,2020-08-04 15:57:57,0,100,501,1,2020-08-04 15:57:57,R_2qDZyNZckzG6EPs,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5e8a369966dc6606eb913bd0,NaN
12,2020-08-04 15:51:36,2020-08-04 16:04:06,0,100,749,1,2020-08-04 16:04:08,R_1IYuusOsGVm1afo,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5f236a1612ef1d11d1fe72d9,NaN
13,2020-08-04 15:50:01,2020-08-04 16:08:38,0,100,1116,1,2020-08-04 16:08:38,R_3lFAGAJGVnBYPXE,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5dee9a513d36b253f348a7bf,NaN
14,2020-08-09 12:50:23,2020-08-09 12:55:59,0,100,336,1,2020-08-09 12:55:59,R_3KBHVWOzRrEBYJR,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5f2f19dc87147c2fb8cc3e79,NaN
15,2020-08-09 12:50:04,2020-08-09 12:56:53,0,100,409,1,2020-08-09 12:56:53,R_5bPXPrEbBzbdzlD,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5d12020e90265e00199ba8a9,NaN
16,2020-08-09 12:50:55,2020-08-09 12:59:35,0,100,519,1,2020-08-09 12:59:35,R_9KPZMiBzrvSc3Bf,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5b9f7f9eaa0e0e0001573bd2,NaN
17,2020-08-09 12:49:15,2020-08-09 13:00:20,0,100,664,1,2020-08-09 13:00:20,R_sXociKuk7yFOor7,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5d1ac31e451ca800011409f4,NaN
18,2020-08-09 12:50:00,2020-08-09 13:05:29,0,100,928,1,2020-08-09 13:05:30,R_2q1tsZJAgAqzyBk,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5d9de8e8996ad3001b904aa5,NaN
19,2020-08-09 13:03:28,2020-08-09 13:16:32,0,100,783,1,2020-08-09 13:16:32,R_2OUT97gUUu5VxhM,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5e36e9b2001ff86723fb8056,NaN
20,2020-08-09 13:45:10,2020-08-09 13:55:02,0,100,591,1,2020-08-09 13:55:03,R_11Y0I2zd6rRY2lX,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ebbf686e7b69402f1994176,NaN

In [178]:
"""

The first 10 questions are for the news groups
The next 20 questions are for Legislation
The final 20 are for covid

news = observed_data.columns.values[11:21]
legislation = observed_data.columns.values[21:41]
covid = observed_data.columns.values[41:61]
"""
observed_data["news_group_observed_5"]

0     Please rate the following groups of words by h...
1                                 {"ImportId":"QID2_5"}
2                                                     2
3                                                     3
4                                                     3
5                                                   NaN
6                                                     3
7                                                     3
8                                                     2
9                                                     2
10                                                    2
11                                                    1
12                                                  NaN
13                                                    1
14                                                    2
15                                                    2
16                                                    3
17                                                    2
18                                                    1
19                                                    3
20                                                    3
21                                                    2
Name: news_group_observed_5, dtype: object

In [237]:
import numpy
def calculate_observed_precision(data):
    """
    Calculate the 'observed coherence' 'precision' score that is just the
    average value of the scores.
    data: Columns being explored
    """
    data_avg_total = []
    data_count = 0

    # Note: First 2 columns are 'header' information, all subsequent values are the actual values
    for d in data:
        values = [int(val) for val in data[d][2:] if not pd.isnull(val)]
        column_total = sum(values)
        column_avg = column_total / len(values)
        data_count += 1
        data_avg_total.append(column_avg)
        
    return sum(data_avg_total) / data_count, data_avg_total
        
    
print("News ", calculate_observed_precision(observed_data.iloc[:, 11:21]))
print("Leg ", calculate_observed_precision(observed_data.iloc[:, 21:41]))
print("Covid ", calculate_observed_precision(observed_data.iloc[:, 41:61]))

News  (2.416666666666667, [2.1666666666666665, 1.6666666666666667, 2.6666666666666665, 2.5, 2.3333333333333335, 2.0, 2.8333333333333335, 3.0, 2.3333333333333335, 2.6666666666666665])
Leg  (2.3416666666666663, [2.1666666666666665, 1.8333333333333333, 1.6666666666666667, 2.1666666666666665, 2.6666666666666665, 2.6666666666666665, 2.6666666666666665, 2.1666666666666665, 2.5, 2.6666666666666665, 2.3333333333333335, 1.8333333333333333, 2.0, 1.6666666666666667, 2.5, 2.5, 3.0, 2.6666666666666665, 2.1666666666666665, 3.0])
Covid  (2.4916666666666663, [2.3333333333333335, 2.3333333333333335, 2.6666666666666665, 2.5, 2.6666666666666665, 3.0, 2.8333333333333335, 2.5, 2.8333333333333335, 2.8333333333333335, 1.8333333333333333, 2.3333333333333335, 2.0, 2.6666666666666665, 2.8333333333333335, 2.8333333333333335, 2.1666666666666665, 2.5, 2.5, 1.6666666666666667])

In [238]:
def calculate_intrusion_precision(data):
    """
    0-1 - Number of 'correct' responses relative to the total
    """
    total_avg = []
    total_count = 0
    for question in data:
        values = [1 if int(val) == 6 else 0 for val in data[question][2:]]
        column_avg = sum(values) / len(values)

        total_avg.append(column_avg)
        total_count += 1
        
    return sum(total_avg) / total_count, total_avg
    
print("NEWS ", calculate_intrusion_precision(intrusion_data.iloc[:,11:21]))
print("LEG ", calculate_intrusion_precision(intrusion_data.iloc[:,21:41]))
print("COVID ", calculate_intrusion_precision(intrusion_data.iloc[:,41:61]))

NEWS  (0.6666666666666666, [0.6666666666666666, 0.6666666666666666, 0.8333333333333334, 0.5, 0.8333333333333334, 1.0, 0.8333333333333334, 0.8333333333333334, 0.16666666666666666, 0.3333333333333333])
LEG  (0.4666666666666667, [0.3333333333333333, 0.5, 0.16666666666666666, 0.0, 0.3333333333333333, 0.16666666666666666, 0.6666666666666666, 0.8333333333333334, 0.6666666666666666, 0.8333333333333334, 0.5, 0.5, 0.5, 0.5, 0.3333333333333333, 0.0, 1.0, 0.16666666666666666, 0.3333333333333333, 1.0])
COVID  (0.575, [0.6666666666666666, 0.6666666666666666, 0.6666666666666666, 1.0, 0.16666666666666666, 1.0, 0.6666666666666666, 0.0, 1.0, 0.8333333333333334, 0.16666666666666666, 0.8333333333333334, 0.5, 0.5, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.5, 0.3333333333333333, 0.3333333333333333])

In [194]:
observed_data.iloc[:, 11:21]

,news_group_observed_1,news_group_observed_2,news_group_observed_3,news_group_observed_4,news_group_observed_5,news_group_observed_6,news_group_observed_7,news_group_observed_8,news_group_observed_9,news_group_observed_10
9,2,2,2,3,2,2,3,3,2,2
10,2,2,3,2,2,2,3,3,2,3
11,3,1,3,2,1,1,3,3,3,3
14,1,2,2,2,2,2,2,3,2,2
15,3,2,3,3,2,1,3,3,2,3
16,2,1,3,2,3,2,3,3,3,2
17,2,2,2,3,2,2,3,3,2,3
18,2,1,3,1,1,2,3,3,2,2
20,2,2,3,3,3,2,3,3,3,3
21,3,1,3,2,2,3,3,3,2,3

In [ ]:
intrusion[11]

In [239]:
news_observed_total, news_observed_avgs = calculate_observed_precision(observed_data.iloc[:, 11:21])
leg_observed_total, leg_observed_avgs = calculate_observed_precision(observed_data.iloc[:, 21:41])
covid_observed_total, covid_observed_avgs = calculate_observed_precision(observed_data.iloc[:, 41:61])

news_intrusion_total, news_intrusion_avgs = calculate_intrusion_precision(intrusion_data.iloc[:,11:21])
leg_intrusion_total, leg_intrusion_avgs = calculate_intrusion_precision(intrusion_data.iloc[:,21:41])
covid_intrusion_total, covid_intrusion_avgs = calculate_intrusion_precision(intrusion_data.iloc[:,41:61])

In [240]:
import scipy.stats
print(scipy.stats.pearsonr(news_observed_avgs, news_intrusion_avgs))
print(scipy.stats.pearsonr(leg_observed_avgs, leg_intrusion_avgs))
print(scipy.stats.pearsonr(covid_observed_avgs, covid_intrusion_avgs))
print("Spearman")
print(scipy.stats.spearmanr(news_observed_avgs, news_intrusion_avgs))
print(scipy.stats.spearmanr(leg_observed_avgs, leg_intrusion_avgs))
print(scipy.stats.spearmanr(covid_observed_avgs, covid_intrusion_avgs))

(8.326672684688674e-17, 0.9999999999999991)
(0.3391800341875834, 0.1434758586821458)
(0.38567590596596923, 0.0930669905223494)
Spearman
SpearmanrResult(correlation=0.06942861831544637, pvalue=0.8488548710936163)
SpearmanrResult(correlation=0.26073502918077723, pvalue=0.266867563793344)
SpearmanrResult(correlation=0.3637810158455907, pvalue=0.11486328520912006)

In [197]:
print(news_observed_avgs)
print(news_intrusion_avgs)

[2.25, 1.5, 2.75, 2.25, 2.0, 1.875, 2.875, 3.0, 2.375, 2.625]
[0.625, 0.625, 0.625, 0.5, 0.625, 0.75, 0.625, 0.875, 0.125, 0.5]

In [198]:
intrusion_data.iloc[:,11:21]

   Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10
11  6  3  4  6  5  6  1  6  3   6
12  6  6  3  5  5  6  5  6  6   6
13  6  1  3  6  5  4  2  6  3   6
14  6  6  6  4  6  6  6  6  5   3
15  1  1  3  6  6  6  6  6  3   4
16  5  6  6  6  6  6  3  6  3   6
17  6  6  6  6  6  6  6  6  3   1
18  3  6  3  4  4  3  4  6  3   6
19  6  6  6  5  6  6  6  2  6   6
20  6  5  6  4  5  6  6  6  5   3

In [199]:
intrusion_data.iloc[:,21:41]

,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30
11,6,5,5,4,2,2,6,4,1,6,5,5,3,2,6,5,6,3,4,6
12,4,2,4,5,1,4,4,4,6,6,1,5,6,6,3,5,6,3,6,6
13,6,6,1,2,6,4,6,6,6,6,6,5,5,6,2,5,6,5,4,6
14,1,1,6,4,1,4,6,6,5,6,2,6,6,6,6,5,6,6,4,6
15,6,6,4,5,4,4,4,6,6,6,6,5,5,3,3,5,6,3,6,6
16,2,3,2,4,2,6,6,6,6,6,6,6,4,2,1,5,6,3,4,6
17,1,6,4,4,2,2,6,6,6,4,1,6,3,6,6,5,6,4,3,6
18,3,1,5,4,2,2,4,6,2,4,1,6,4,2,3,5,6,3,3,6
19,6,6,4,2,6,4,6,6,6,6,6,5,6,6,3,5,6,3,5,6
20,1,5,5,2,6,4,4,4,5,6,5,5,6,3,3,5,6,3,6,6

In [200]:
intrusion_data.iloc[:,41:61]

,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60
11,6,2,4,6,5,6,6,3,4,6,4,3,3,5,2,3,6,6,2,3
12,6,6,4,6,6,6,6,1,6,6,2,6,3,6,6,6,4,6,5,6
13,6,3,4,6,1,6,6,1,3,3,6,6,6,2,2,4,3,6,2,6
14,6,6,4,6,6,6,6,1,6,6,6,6,3,6,5,4,3,2,5,3
15,6,6,6,6,3,6,6,3,6,6,2,4,6,4,6,6,6,6,6,6
16,6,5,6,6,3,6,4,5,6,6,2,6,3,5,6,6,6,6,2,2
17,2,3,4,6,3,6,6,1,6,3,4,6,6,6,2,4,1,6,3,6
18,6,4,3,3,6,6,6,1,6,5,4,2,1,4,5,6,6,5,2,6
19,5,6,6,6,1,6,6,1,6,6,1,6,6,5,6,4,6,4,6,5
20,6,6,6,6,2,6,4,4,6,6,4,6,3,6,6,4,6,2,2,1

In [242]:
from sklearn.metrics import cohen_kappa_score

def calculate_avg_cohen(df, col_start, col_end):
    total_pairs = 0
    total_kappa = 0.0

    for idx in range(0, len(df)):
        for idx_2 in range(idx + 1, len(df)):
            total_pairs += 1
            total_kappa += cohen_kappa_score(df.iloc[idx, col_start:col_end], df.iloc[idx_2, col_start:col_end])
            #print(cohen_kappa_score(df.iloc[idx, 11:61], df.iloc[idx_2, 11:61]))

    print("Total: ", total_kappa/total_pairs)
    return total_kappa/total_pairs
calculate_avg_cohen(observed_data, 11, 21)
calculate_avg_cohen(intrusion_data, 11, 21)
calculate_avg_cohen(observed_data, 21, 41)
calculate_avg_cohen(intrusion_data, 21, 41)
calculate_avg_cohen(observed_data, 41, 61)
calculate_avg_cohen(intrusion_data, 41, 61)

Total:  0.24319804696585265
Total:  0.05251816379009115
Total:  0.07779602453899892
Total:  0.24731425469170762
Total:  0.12259361039800985
Total:  0.15611879302891032

0.15611879302891032

In [225]:
observed_data.iloc[0:2, 11:21]

,news_group_observed_1,news_group_observed_2,news_group_observed_3,news_group_observed_4,news_group_observed_5,news_group_observed_6,news_group_observed_7,news_group_observed_8,news_group_observed_9,news_group_observed_10
9,2,2,2,3,2,2,3,3,2,2
10,2,2,3,2,2,2,3,3,2,3

In [235]:
intrusion_data.iloc[0:11, 10:21]

                prolific_pid Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10
11  5e8a369966dc6606eb913bd0  6  3  4  6  5  6  1  6  3   6
12  5f236a1612ef1d11d1fe72d9  6  6  3  5  5  6  5  6  6   6
13  5dee9a513d36b253f348a7bf  6  1  3  6  5  4  2  6  3   6
14  5f2f19dc87147c2fb8cc3e79  6  6  6  4  6  6  6  6  5   3
15  5d12020e90265e00199ba8a9  1  1  3  6  6  6  6  6  3   4
16  5b9f7f9eaa0e0e0001573bd2  5  6  6  6  6  6  3  6  3   6
17  5d1ac31e451ca800011409f4  6  6  6  6  6  6  6  6  3   1
18  5d9de8e8996ad3001b904aa5  3  6  3  4  4  3  4  6  3   6
19  5e36e9b2001ff86723fb8056  6  6  6  5  6  6  6  2  6   6
20  5ebbf686e7b69402f1994176  6  5  6  4  5  6  6  6  5   3

In [232]:
observed_data.iloc[0:11, 10:21]

,prolific_id_question,news_group_observed_1,news_group_observed_2,news_group_observed_3,news_group_observed_4,news_group_observed_5,news_group_observed_6,news_group_observed_7,news_group_observed_8,news_group_observed_9,news_group_observed_10
9,5f0fb2ed850b231ad838b468,2,2,2,3,2,2,3,3,2,2
10,5deeafc8fa996902a730c901,2,2,3,2,2,2,3,3,2,3
11,5e67cfb2a3821007f17744c8,3,1,3,2,1,1,3,3,3,3
14,560e5dc454221f001035e2f4,1,2,2,2,2,2,2,3,2,2
15,5e5adda02ced422defcc7765,3,2,3,3,2,1,3,3,2,3
16,5f2d64af3c1140000a161e4e,2,1,3,2,3,2,3,3,3,2
17,5e735fe7adc9032b066de68f,2,2,2,3,2,2,3,3,2,3
18,5d220d43acb3e5001ae3907c,2,1,3,1,1,2,3,3,2,2
20,5bb0a9556322c50001584f5d,2,2,3,3,3,2,3,3,3,3
21,5e5a2b5b2bff5422919b9e94,3,1,3,2,2,3,3,3,2,3

9     5f0fb2ed850b231ad838b468
10    5deeafc8fa996902a730c901
11    5e67cfb2a3821007f17744c8
14    560e5dc454221f001035e2f4
15    5e5adda02ced422defcc7765
16    5f2d64af3c1140000a161e4e
17    5e735fe7adc9032b066de68f
18    5d220d43acb3e5001ae3907c
20    5bb0a9556322c50001584f5d
21    5e5a2b5b2bff5422919b9e94
Name: prolific_id_question, dtype: object